@charset "UTF-8";

/* Aula: https://youtu.be/lqWIdekLaqs */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/**********************************/
/* PSEUDO-CLASSE
/**********************************/

:root {
    --cor-primaria: #f8f9fa;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #727272;
    --cor-quartenaria: #71ae3f;
    --cor-borda: #d2d2d2;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Inter';
}

/**********************************/
/* RESETE
/**********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/**********************************/
/* BODY
/**********************************/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--cor-primaria);
}


/**********************************/
/* SEÇÃO
/**********************************/

section {
    padding: 45px;
    background-color: var(--cor-secundaria);
    width: 500px;
    border: 1px solid var(--cor-borda);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


/**********************************/
/* HEADER
/**********************************/

header img {
    width: 140px;
    border: 1px solid var(--cor-borda);
    border-radius: 50%;
    margin-bottom: 10px;
}

header h3 {
    color: #71AE3F;
    font-size: 1.35rem;
}

header p {
    color: var(--cor-terciaria);
    font-weight: 500;
}


/**********************************/
/* MAIN
/**********************************/

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

main a {
    background: #71AE3F;
    padding: 15px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-borda);
    border-radius: 30px;
    transition: all .5s ease-in-out;
}

main a:hover {
    color: var(--cor-secundaria);
    background-color: #71AE3F;
}


/**********************************/
/* MEDIA QUERIES
/**********************************/

@media (max-width: 520px) {
    section {
        width: 90%;
        padding: 30px;
    }

    header img {
        width: 100px;
    }

    header h3 {
        font-size: 1.3rem;
    }

    main {
        gap: 15px;
    }

    main a {
        padding: 10px 0;
    }
}